.isConnect{
    height: 45px;
    width: 100%;
    border-top: 5px solid #a93f36;
    border-bottom: 0px solid #a93f36;
    margin-top: 1px;
    box-shadow: 0px 0px 10px 2px rgb(90,34,29)
}
.isConnect ul{
    list-style: none;
    display: flex;
    width: 450px;
    margin-left: 70%;
}
.isConnect ul > li {
    margin-right: 30px;
}
.isConnect ul li:nth-child(2){
    color: #a93f36 ;
    font-weight: 700;
    font-size: 20px;
    margin-top: 2px;
}
.isConnect ul li:nth-child(3){
    color: #a93f36 ;
    font-weight: 400;
    font-size: 20px;
    border-bottom: 1px solid #a93f36;
    cursor: pointer;
}
.isConnect ul li:nth-child(3):hover{
    color: #a93f36 ;
    font-weight: 700;
    font-size: 20px;
    border-bottom: 2px solid #a93f36;
    cursor: pointer;
}
.notification img{
    width: 25px;
    height: 25px;
    margin-top: 6px;
    cursor: pointer;
}